@page
@model BlueBankFrontend.Areas.IndexModel
@{
}


@using BlueBankFrontend.Models

<h2>Home</h2>

<style>
    .OpcionMenu {
        background-color: #FAFAFF;
        height: 100px;
        width: 100px;
        border-radius: 5px;
        margin: 70px 35px 0px 35px;
        border: 1px #b3b3b3 solid;
        box-shadow: 3px 3px 0 0 #999;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .5s;
    }
</style>

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-2 OpcionMenu">
            <a id="AddCuenta" onclick="AddCuentaMostrar()">
                <img src="~/css/Icons/1.svg" />
                Crear cuenta
            </a>
        </div>
        <div class="col-md-2 OpcionMenu">
            <a id="ConsultarSaldo" onclick="ConsultarSaldoMostrar()">
                <img src="~/css/Icons/4.svg" />
                Cosultar saldo
            </a>
        </div>
        <div class="col-md-2 OpcionMenu">
            <a id="Retirar" onclick="RetirarMostrar()">
                <img src="~/css/Icons/3.svg" />
                Retirar
            </a>
        </div>
        <div class="col-md-2 OpcionMenu">
            <a id="Consignar" onclick="ConsignarMostrar()">
                <img src="~/css/Icons/2.svg" />
                Consignar
            </a>
        </div>
    </div>
</div>
<hr />

<div>

    <div id="FormCrearCuenta">

    </div>


    <div id="FormConsultarSaldo" class="container">

 
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-4">
                <span style="font-size:20px">Número de cuenta</span>
                <hr />
                @(Html.DevExtreme().TextBox().ID("NumeroCuentaBuscar").Width("100%").Placeholder("Digite numero de cuenta"))

            </div>
            <div class="col-md-2" style="display:flex; align-items:end; margin-top:20px;">
                @(Html.DevExtreme().Button().Text("Buscar").ID("btnBuscarCuenta").Width("100%").Type(ButtonType.Default).OnClick("BuscarCuenta"))
            </div>
        </div>
      
        

        @(Html.DevExtreme().Form<Cuenta>()
            .ID("formCuenta")
            .ColCount(2)
            .LabelLocation(FormLabelLocation.Top)
            .Items(formItems =>
            {
                formItems.AddGroup().ColCount(2).Name("DatosPersona").Caption("Datos de la persona")
                    .Items(s => {
                        s.AddSimpleFor(r => r.Persona.NumeroDocumento).Label(l => l.Text("Numero de Documento").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());
                        //s.AddSimpleFor(r => r.Persona.TipoDocumento).Label(l => l.Text("Segundo Apellido").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());

                        s.AddSimpleFor(r => r.Persona.PrimerNombre).Label(l => l.Text("Primer Nombre").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());
                        s.AddSimpleFor(r => r.Persona.SegundoNombre).Label(l => l.Text("Segundo Nombre").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());
                        s.AddSimpleFor(r => r.Persona.PrimerApellido).Label(l => l.Text("Primer Apellido").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());
                        s.AddSimpleFor(r => r.Persona.SegundoApellido).Label(l => l.Text("Segundo Apellido").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());

                    });

                formItems.AddGroup().ColCount(2).Name("DatosCuenta").Caption("Datos de la Cuenta")
                    .Items(s =>
                    {
                        s.AddSimpleFor(r => r.NumeroCuenta).Label(l => l.Text("Numero de Cuenta").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());
                        s.AddSimpleFor(r => r.Valor).Label(l => l.Text("Valor").Location(FormLabelLocation.Top)).Editor(e => e.TextBox());

                    });

            })
        )

    </div>


    <div id="FormRetirar">

    </div>


    <div id="FormConsignar">

    </div>


</div>


<script src="~/js/PaginaPrincipal.js"></script>