<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="C:\Program Files (x86)\DevExpress 19.2\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
    <add key="DevExtreme source" value="https://nuget.devexpress.com/RYOz3QKdvX6jqm7RuMiQSJfasLxyu4KPexyUzKu3XYdBUU9iMV/api" />
  </packageSources>
</configuration>